

#nav-container{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;

    z-index: 100001;
}

/*toggle-icon*/
.toggle-icon {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 0 10px 10px;
    overflow: auto;
    
    -webkit-transition: margin 600ms;
    -moz-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;

}

.toggle-icon .bar {
    display: block;
    width: 3em;
    height: 7px;
    margin: 7px;
    border-right: 2.3em solid black;
    border-left: 0.8em solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow, padding;
    transition: 0.6s;

}
    .toggle-icon .bar:nth-of-type(1) {
        -webkit-transition: opacity 300ms;
        -moz-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .toggle-icon .bar:nth-of-type(2) {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

/*pushed*/
.pushed .toggle-icon {
    

}

    .pushed .bar:nth-of-type(1) {
        opacity: 0;
    }

    .pushed .bar:nth-of-type(2) {
        margin-left: 1.2em;
        -webkit-transform: rotate(-137deg) translateY(-1.1em);
        -moz-transform: rotate(-137deg) translateY(-1.1em);
        -ms-transform: rotate(-137deg) translateY(-1.1em);
        -o-transform: rotate(-137deg) translateY(-1.1em);
        transform: rotate(-137deg) translateY(-1.1em);
    }

    .pushed .bar:nth-of-type(3) {
        margin-left: 0.5em;
        -webkit-transform: rotate(-42deg);
        -moz-transform: rotate(-42deg);
        -ms-transform: rotate(-42deg);
        -o-transform: rotate(-42deg);
        transform: rotate(-42deg);
    }


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
    box-shadow: 0.4em 0 0.6em 0.1em #ff7548;
}

.pushed .toggle-icon:hover .bar:nth-of-type(3) {
    box-shadow: 0.4em 0 0.6em 0.1em #ff7548;
}






.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; 
    margin-top: 7px;}
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-remove {
  height: 20px;
  position: relative;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  width: 40px; }
  .tcon-remove::before, .tcon-remove::after {
    content: "";
    display: block;
    height: 25%;
    width: 85%;
    position: absolute;
    top: 37%;
    left: 8%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: black; }
  .tcon-remove::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .tcon-remove::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.tcon-remove--chevron-down.tcon-transform::before {
  left: 5%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 59%;
  background: #ff7548; }

.tcon-remove--chevron-down.tcon-transform::after {
  left: auto;
  right: 2%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 60%;
  background: #ff7548; }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
